@page "/ahojSvete"


<PageTitle> Ahoj světe! </PageTitle>

<h1>Toto je moje stránka!</h1>

<p>@HelloSvete()</p>

<p>@@</p>

<a href="mailto:ahoj@svete.com">ahoj@svete.com</a>
<p>Date - lze vložit datetime now - timestamp</p>

@code {
    private string HelloSvete()
    {
        return "Hello! I am the good app!";
    }
}